<aside class="sidebar">

    <div class="sidebar-header">
        <h1>PMP</h1>
    </div>

    <nav class="sidebar-menu">
        <a data-page="Home" href="/">Home</a>
        <a data-page="Documents" href="/documents/">Documents</a>
        <a data-page="Losstime" href="/losstime/">Losstime</a>
        <a data-page="Efficiency" href="/efficiency/">Efficiency</a>
        <a data-page="Scrap" href="/scrap/">Scrap</a>
        <a data-page="Production" href="/production/">Production</a>
        <a data-page="New Models" href="/new_models/">New Models</a>
    </nav>

    <div class="sidebar-bottom">
        <div class="sidebar-footer">
            <a data-page="Settings" href="#">Settings</a>
            <a data-page="Account" href="#">Account</a>
        </div>

        <div class="sidebar-footer">
            <a href="#">Exit</a>
        </div>
    </div>

</aside>