<aside class="sidebar">

    <div class="sidebar-header">
        <h1>PMP</h1>
    </div>

    <nav class="sidebar-menu">
        <a data-page="Home" href="/">Home</a>
        <a data-page="Documents" href="/main/documents/">Documents</a>
        <a data-page="Losstime" href="/main/losstime/">Loss Time</a>
        <a data-page="Efficiency" href="/main/efficiency/">Efficiency</a>
        <a data-page="Scrap" href="/main/scrap/">Scrap</a>
        <a data-page="Production" href="/main/production/">Production</a>
        <a data-page="New Models" href="/main/new_models/">New Models</a>
    </nav>

    <div class="sidebar-bottom">
        <div class="sidebar-footer">
            <a data-page="Settings" href="/settings/">Settings</a>
            <a data-page="Account" href="#">Account</a>
        </div>

        <div class="sidebar-footer">
            <button type="button" id="logout-button">Exit</button>
        </div>
    </div>

</aside>