<aside class="sidebar">

    <div class="sidebar-header">
        <h1>PMP</h1>
    </div>

    <nav class="sidebar-menu">
        <a href="/">Home</a>
        <a href="/documents/">Documents</a>
        <a href="#">Losstime</a>
        <a href="#">Efficiency</a>
        <a href="#">Scrap</a>
        <a href="#">Hour by Hour</a>
        <a href="#">New Models</a>
        <a href="#">Production Release</a>
    </nav>

    <div class="sidebar-bottom">
        <div class="sidebar-footer">
            <a href="#">Settings</a>
            <a href="#">Account</a>
        </div>

        <div class="sidebar-footer">
            <a href="#">Exit</a>
        </div>
    </div>

</aside>